@import "../sass/sub/variables";

* {
  outline: none !important;
}

.hero {
  & .swiper {
    &-pagination-bullet {
      position: relative;
      opacity: .7;
      cursor: pointer;
      //padding-bottom: 2px;
      &:before {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid transparent;
        opacity: 0;
        transition: all .3s ease-in-out;
      }

      &-active {
        opacity: 1;

        &:before {
          border-bottom: 2px solid white;
          opacity: 1;
        }
      }
    }

    &-button {
      &-next, &-prev {
        opacity: 1;
      }

      &-disabled {
        opacity: .5;
      }
    }
  }
}

.product-carousel {
  & .swiper {
    &-pagination {
      &-bullet {
        width: 7px;
        height: 7px;
        border-radius: 1000px;
        background: #dbdcdd;

        &-active {
          background: #ff6600;
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

.cat-box {
  & > a:hover + img {
    transform: scale(1.15);
  }
}

.swiper-slide {
  height: auto !important;
}

.woocommerce-product-gallery {
  //display: grid;
  //grid-template-columns: 1fr 2fr;
  & .flex-viewport {
    grid-column: 2;
    grid-row: 1;
    max-height: 700px !important;
    height: 100% !important;
    @media(max-width: 991px){
      height: auto !important;
      width: 100% !important;
    }
  }
}

.product {
  & .price {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;

    & del {
      color: #333;
    }

    & ins {
      color: #ff6600;
      text-decoration: none;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.variations {
  & tr {
    display: flex;
    flex-direction: column;

    & th, & td {
      display: flex;
    }

    & th {
      font-size: 1.4rem;
    }

    & ul {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;

      & li {
        padding: .5rem 1rem;
        border: 1px solid #dbdcdd;
        transition: all .1s ease-in-out;

        &:hover, &.selected {
          background: #47c061;
          border-color: #47c061;
          color: white;
        }

        &:hover {
          cursor: pointer;
        }

        &.selected {
          cursor: not-allowed;
        }
      }
    }
  }
}

.reset_variations {
  display: none !important;
}

#sidebar {
  display: none !important;
}

.wc-tab {
  & h2 {
    display: none;
  }

  & p {
    margin-bottom: 1em;
  }
}

.no-border > .product-card {
  border: none !important;
}

.woocommerce-product-gallery__wrapper {
  & div, & a {
    max-width: 100%;
    height: 100%;
    display: block;
    @media(max-width: 991px){
      width: 100%;
      height: auto;
    }
  }
}

.main-product-img {
  max-height: 700px;

  & * {
    max-height: 700px;
  }

  & img {
    width: auto;
    height: 700px;
    @media (max-width: 991px){
      width: 100%;
      height: auto;
    }
    }

  //& a{
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //}
}

.flex-control-nav.flex-control-thumbs {
  & li, img {
    width: 100px;
  }

  & li {
    margin-bottom: 20px;
  }

  & img {
    border: 1px solid #c6c6c6;

    &.flex-active {
      border: 2px solid #333;
    }
  }
}

.woocommerce-product-gallery__wrapper div, .woocommerce-product-gallery__wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  @media(max-width: 991px){
    width: 100%;
    height: auto;
  }
    
}

.tabs li a {
  position: relative;
  text-transform: uppercase;

  &:before {
    content: '+';
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    font-weight: 300;
  }
}

.tabs li.active a {
  & {
    &:before {
      content: '-';
    }
  }
}

.tabs li.active + div {
  border-bottom: 1px solid #dbdcdd;
}

.tabs li.active {
  background: #f2f2f2;
}

#respond {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.comment-form {
  &-comment {
    display: flex;
    flex-direction: column;

    & textarea {
      margin-top: .5rem;
      border: 1px solid #dbdcdd;
      padding: 1rem;

      &:focus {
        border: 1px solid #333;
      }
    }
  }

  .stars {
    & span {
      display: flex;
      gap: 1rem;

      & a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #dbdcdd;
        transition: all .1s ease-in-out;

        &.active, &:hover {
          background: #47c061;
          border-color: #47c061;
          color: white;
        }
      }
    }
  }
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  margin-top: 1.25rem;
  background: #fff;
  border: 2px solid #dbdcdd;
  vertical-align: middle;
}

.woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button {
  display: flex;
  padding: .5rem 1rem;
  border: 2px solid #333;
  color: #333;
}

.woocommerce-error span, .woocommerce-info span, .woocommerce-message span {
  display: flex;
  width: 100%;
  //flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
  top: 50%;
  transform: translateY(-50%);
}

.added_to_cart {
  display: block;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background: #ff6600;
  color: white;
  text-align: center;
  border: 2px solid #ff6600;

  &:hover {
    background: #333;
    border-color: #333;
  }
}

#woosq-popup .single_add_to_cart_button {
  display: block;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #fff;
  color: #333;
  text-align: center;
  border: 2px solid #333;

  &:hover {
    background: #47c061;
    color: #fff;
    border-color: #47c061;
  }

}

.stock.out-of-stock{
  margin-bottom: 1.25rem;
  color: red;
}

.woosw-popup-content-bot, .woosw-popup-content-top {
  background: #333333 !important;
}

.woosq-product .thumbnails .images {
  background: #ffffff;
}

a[data-make_search].active {
  background: #ff6600;
  color: white;
}

.page-whishlist {
  & .woosw-list {
    display: flex;
    justify-content: center;
  }

  & .woosw-items {
    width: 90%;
    margin: 0 auto;
  }

  & .woosw-item--actions {
    text-align: right;
    max-width: 80px;

    & .added {
      display: none;
    }

    & .added_to_cart {
      margin-bottom: 0;
    }

    & .add_to_cart_button {
      display: block;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.75rem;
      padding: 0.5rem 1rem;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background: #fff;
      color: #333;
      text-align: center;
      border: 2px solid #333;

      &:hover {
        background: #47c061;
        color: #fff;
        border-color: #47c061;
      }
    }
  }
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"], textarea {
  border: 1px solid #c6c6c6;
  font-weight: 300;
  padding: .75rem 1.25rem;
}

.custom-checkbox {
  display: flex;
  align-items: flex-start;
  padding: 3px;

  & > input {
    display: none;

    & + label {
      position: relative;
      padding-left: 2.5em;
      transition: all .1s ease-in-out;
      cursor: pointer;
    }

    & + label::before {
      content: '';
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 0;
      top: .6em;
      transform: translateY(-50%);
      border: 1px solid #c6c6c6;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .1s ease-in-out;
    }

    &:checked {
      + label {
        color: #333 !important;
      }

      & + label::before {
        content: '✓';
        border: 1px solid #333;
      }
    }
  }
}

.filter-content {

}

// .filter-content select, .boardhouse-sidebar select {
//   display: block !important;
//   width: 100% !important;
//   clip: none !important;
//   appearance: none !important;
//   border-radius: 0 !important;
//   position: relative !important;
//   margin: 0 !important;
//   height: auto !important;
//   font-weight: bold;
//   border-bottom: 1px solid #ebebeb !important;
//   padding: .25rem 1rem !important;


// }

// .filter-content .yith-wcan-dropdown {
//   display: none !important;
// }

// #product_cat + span {
//   display: none !important;
// }

// .yith-wcan-filter {
//   margin: 0 !important;

// }

.filters-container > form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100% !important;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  @media(max-width: 1240){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media(max-width: 991px){
    grid-template-columns: 1fr 1fr;
  }
  @media(max-width: 640px){
    grid-template-columns: 1fr;
  }
}

.filters-container > form > div {
  width: 100%;
}

.boardhouse-sidebar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background: #fff;
}

.boardhouse-sidebar h2 {
  display: none;
}

.boardhouse-sidebar > div{
  flex-shrink: 0;
  width: 100%;;
}
.boardhouse-sidebar > form {
  width: 180px;
  flex-shrink: 0;
}

.boardhouse-sidebar .woocommerce-notices-wrapper {
  display: none;
}

.boardhouse-sidebar .woocommerce-result-count {
  display: none;
}

.pages-dots .nav-links {
  display: flex !important;
  justify-content: center;
  gap: .5rem;
}

.pages-dots .page-numbers {
  color: transparent;
  width: 10px !important;
  height: 10px !important;
  overflow: hidden;
  background: #ebebeb;
  border-radius: 50%;
}

.pages-dots .next.page-numbers, .pages-dots .prev.page-numbers {
  display: none !important;
}

.pages-dots .current {
  background: #ff6600;
}

.pages-shop {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  align-items: center;
}

.pages-shop .page-numbers {
  display: none;
}

.nexty .next {
  color: transparent;
  background: none;
  width: 1em !important;
  display: flex;
  position: relative;
  overflow: hidden;

}

.nexty .next::after {
  content: '❯';
  position: absolute;
  color: #333;
  font-size: 1em;
  z-index: -1;
}

.prevy .prev {
  color: transparent;
  background: none;
  width: 1em !important;
  display: flex;
  position: relative;

}

.prevy .prev::after {
  content: '❮';
  position: absolute;
  color: #333;
  left: 0;
  font-size: 1em;
}

.pages-shop .nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.nexty .prev {
  display: none !important;
}

.prevy .next {
  display: none !important;
}

.prevy .next::after {
  display: none !important;
}

.nexty .prev::after {
  display: none !important;
}

.yit-wcan-container + .woocommerce-pagination {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("data:image/svg+xml;utf8,<svg fill='green' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' style='transform: rotate(0deg)'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.shipping-box {
  transition: all .2s ease-in-out;
  cursor: pointer;

  & * {
    transition: all .2s ease-in-out;
  }

  &:hover {
    border-color: #47c061;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

    & img {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
      opacity: 1;
    }

    & > div > div {
      border-color: #47c061;

      & > svg {
        fill: #47c061;
      }
    }
  }

  & img {
    max-height: unset;
    height: 50px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .6;
  }

  &.active {
    border-color: #47c061;
    cursor: not-allowed;
    box-shadow: none;

    & img {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
      opacity: 1;
    }

    & > div > div {
      border-color: #47c061;

      & > svg {
        fill: #47c061;
      }
    }
  }
}

.product-promo {
  & .main-text {
    font-size: 78px;
    line-height: 100%;
  }
}

.woocommerce-breadcrumb {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
  font-size: 14px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.woocommerce-validated input, .woocommerce-validated select{
  border-color: #212121 !important;
}

.woocommerce-invalid input, .woocommerce-invalid select{
  //border-width: 2px !important;
  border-color: #ff6600 !important;
}

.woocommerce-invalid .error{
  display: block !important;
}

.form-row label{
  color: #212121 !important;
  & *{
    color: #212121 !important;
  }
  & .error{
    color: red !important;
    font-weight: 300;
  }
}

.shakey{
  transition: all .2s;
  animation-name: shakey;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes shakey{
  from{
    transform: translateX(-10px);
  }
  to{
    transform: translateX(5px);
  }
}

.cart-content-popup{
  min-height: 150px;
  max-height: 450px;
  overflow-y: auto;
  @media(max-width: 768px){
    max-height: 250px;
  }
}

.cart-popup-content-wrapper{
  min-height: 200px;
  position: relative;
  &::after{
    content: 'Trwa pobieranie koszyka...';
    color: #212121;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  &.loading{
    &::after{
      opacity: 1;
      pointer-events: none;
    }
  }
}

.yith-wcan-filters{
  margin-bottom: 0;
}

.yith-wcan-active-filters{
  display: none;
}

.yith-wcan-dropdown.open, .dropdown-wrapper{
  box-shadow: none !important;
}

.filter-title{
  display: none;
}

// Nav Menu Dropdown
.nav-menu-item-wrapper{
  position: relative;
}

.nav-menu-item{

}

.nav-menu-subitems{
  position: absolute;
  background: #fff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, .1);
  z-index: 1;
  display: none;
  width: 300px;
  top: 100%;
  border: 1px solid #dbdcdd;
  & a{
    padding: .5rem 1rem;
    border-bottom: 1px solid #dbdcdd;
    &:hover{
      background: #F5F5F5;
    }
    &:last-child{
      border: none;
    }
  }
}

.nav-menu-item-wrapper:hover .nav-menu-subitems{
  display: flex;
  flex-direction: column;
}

.pswp__bg{
  opacity: 50% !important;
}
.pswp__ui--fit .pswp__caption, .pswp__ui--fit .pswp__top-bar{
  background: rgba(0, 0, 0, .7);
}

.pswp__caption__center, .pswp__caption{
  display: none;
}

.icons-row-wrapper img {
  height: 5rem;
  max-width: unset;
  width: auto;
}

.woocommerce-breadcrumb{
	flex-wrap: wrap !important;
}
@media(max-width: 568px){
	.woocommerce-breadcrumb{
		font-size: 11px;
	}
}
.optional{
  display: none !important;
}

.product-link:hover + .swatch{
  opacity: 1;
}

.woocommerce-product-details__short-description, .product_meta {
  display: none;
}

.dgwt-wcas-preloader svg{
  & path{
    fill: #47c061 !important;
  }
}

.shipping-box p img{
  display: none;
}

.pswp__button{
  opacity: 0.6 !important;
  &.pswp__button--arrow--left::before{
    content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 8C1 9.85652 1.7375 11.637 3.05025 12.9497C4.36301 14.2625 6.14348 15 8 15C9.85652 15 11.637 14.2625 12.9497 12.9497C14.2625 11.637 15 9.85652 15 8C15 6.14348 14.2625 4.36301 12.9497 3.05025C11.637 1.7375 9.85652 1 8 1C6.14348 1 4.36301 1.7375 3.05025 3.05025C1.7375 4.36301 1 6.14348 1 8V8ZM16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 0 10.1217 0 8C0 5.87827 0.842855 3.84344 2.34315 2.34315C3.84344 0.842855 5.87827 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8V8ZM11.5 7.5C11.6326 7.5 11.7598 7.55268 11.8536 7.64645C11.9473 7.74021 12 7.86739 12 8C12 8.13261 11.9473 8.25979 11.8536 8.35355C11.7598 8.44732 11.6326 8.5 11.5 8.5H5.707L7.854 10.646C7.90049 10.6925 7.93736 10.7477 7.96252 10.8084C7.98768 10.8692 8.00063 10.9343 8.00063 11C8.00063 11.0657 7.98768 11.1308 7.96252 11.1916C7.93736 11.2523 7.90049 11.3075 7.854 11.354C7.80751 11.4005 7.75232 11.4374 7.69158 11.4625C7.63084 11.4877 7.56574 11.5006 7.5 11.5006C7.43426 11.5006 7.36916 11.4877 7.30842 11.4625C7.24768 11.4374 7.19249 11.4005 7.146 11.354L4.146 8.354C4.09944 8.30755 4.06249 8.25238 4.03729 8.19163C4.01208 8.13089 3.99911 8.06577 3.99911 8C3.99911 7.93423 4.01208 7.86911 4.03729 7.80837C4.06249 7.74762 4.09944 7.69245 4.146 7.646L7.146 4.646C7.23989 4.55211 7.36722 4.49937 7.5 4.49937C7.63278 4.49937 7.76011 4.55211 7.854 4.646C7.94789 4.73989 8.00063 4.86722 8.00063 5C8.00063 5.13278 7.94789 5.26011 7.854 5.354L5.707 7.5H11.5Z" fill="white"/></svg>');
  }
  &.pswp__button--arrow--right::before{
    content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 8C1 9.85652 1.7375 11.637 3.05025 12.9497C4.36301 14.2625 6.14348 15 8 15C9.85652 15 11.637 14.2625 12.9497 12.9497C14.2625 11.637 15 9.85652 15 8C15 6.14348 14.2625 4.36301 12.9497 3.05025C11.637 1.7375 9.85652 1 8 1C6.14348 1 4.36301 1.7375 3.05025 3.05025C1.7375 4.36301 1 6.14348 1 8ZM16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 0 10.1217 0 8C0 5.87827 0.842855 3.84344 2.34315 2.34315C3.84344 0.842855 5.87827 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8ZM4.5 7.5C4.36739 7.5 4.24021 7.55268 4.14645 7.64645C4.05268 7.74021 4 7.86739 4 8C4 8.13261 4.05268 8.25979 4.14645 8.35355C4.24021 8.44732 4.36739 8.5 4.5 8.5H10.293L8.146 10.646C8.09951 10.6925 8.06264 10.7477 8.03748 10.8084C8.01232 10.8692 7.99937 10.9343 7.99937 11C7.99937 11.0657 8.01232 11.1308 8.03748 11.1916C8.06264 11.2523 8.09951 11.3075 8.146 11.354C8.19249 11.4005 8.24768 11.4374 8.30842 11.4625C8.36916 11.4877 8.43426 11.5006 8.5 11.5006C8.56574 11.5006 8.63084 11.4877 8.69158 11.4625C8.75232 11.4374 8.80751 11.4005 8.854 11.354L11.854 8.354C11.9006 8.30755 11.9375 8.25238 11.9627 8.19163C11.9879 8.13089 12.0009 8.06577 12.0009 8C12.0009 7.93423 11.9879 7.86911 11.9627 7.80837C11.9375 7.74762 11.9006 7.69245 11.854 7.646L8.854 4.646C8.80751 4.59951 8.75232 4.56264 8.69158 4.53748C8.63084 4.51232 8.56574 4.49937 8.5 4.49937C8.43426 4.49937 8.36916 4.51232 8.30842 4.53748C8.24768 4.56264 8.19249 4.59951 8.146 4.646C8.09951 4.69249 8.06264 4.74768 8.03748 4.80842C8.01232 4.86916 7.99937 4.93426 7.99937 5C7.99937 5.06574 8.01232 5.13084 8.03748 5.19158C8.06264 5.25232 8.09951 5.30751 8.146 5.354L10.293 7.5H4.5Z" fill="white"/></svg>');
  }
  &.pswp__button--arrow--right::before, &.pswp__button--arrow--left::before{
    background: none;
    width: 40px;
    height: 40px;
  }
  &:hover{
    opacity: 1 !important;
  }
  @media(max-width: 991px){
    &.pswp__button--arrow--left::before{
      content: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 8C1 9.85652 1.7375 11.637 3.05025 12.9497C4.36301 14.2625 6.14348 15 8 15C9.85652 15 11.637 14.2625 12.9497 12.9497C14.2625 11.637 15 9.85652 15 8C15 6.14348 14.2625 4.36301 12.9497 3.05025C11.637 1.7375 9.85652 1 8 1C6.14348 1 4.36301 1.7375 3.05025 3.05025C1.7375 4.36301 1 6.14348 1 8V8ZM16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 0 10.1217 0 8C0 5.87827 0.842855 3.84344 2.34315 2.34315C3.84344 0.842855 5.87827 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8V8ZM11.5 7.5C11.6326 7.5 11.7598 7.55268 11.8536 7.64645C11.9473 7.74021 12 7.86739 12 8C12 8.13261 11.9473 8.25979 11.8536 8.35355C11.7598 8.44732 11.6326 8.5 11.5 8.5H5.707L7.854 10.646C7.90049 10.6925 7.93736 10.7477 7.96252 10.8084C7.98768 10.8692 8.00063 10.9343 8.00063 11C8.00063 11.0657 7.98768 11.1308 7.96252 11.1916C7.93736 11.2523 7.90049 11.3075 7.854 11.354C7.80751 11.4005 7.75232 11.4374 7.69158 11.4625C7.63084 11.4877 7.56574 11.5006 7.5 11.5006C7.43426 11.5006 7.36916 11.4877 7.30842 11.4625C7.24768 11.4374 7.19249 11.4005 7.146 11.354L4.146 8.354C4.09944 8.30755 4.06249 8.25238 4.03729 8.19163C4.01208 8.13089 3.99911 8.06577 3.99911 8C3.99911 7.93423 4.01208 7.86911 4.03729 7.80837C4.06249 7.74762 4.09944 7.69245 4.146 7.646L7.146 4.646C7.23989 4.55211 7.36722 4.49937 7.5 4.49937C7.63278 4.49937 7.76011 4.55211 7.854 4.646C7.94789 4.73989 8.00063 4.86722 8.00063 5C8.00063 5.13278 7.94789 5.26011 7.854 5.354L5.707 7.5H11.5Z" fill="white"/></svg>');
    }
    &.pswp__button--arrow--right::before{
      content: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 8C1 9.85652 1.7375 11.637 3.05025 12.9497C4.36301 14.2625 6.14348 15 8 15C9.85652 15 11.637 14.2625 12.9497 12.9497C14.2625 11.637 15 9.85652 15 8C15 6.14348 14.2625 4.36301 12.9497 3.05025C11.637 1.7375 9.85652 1 8 1C6.14348 1 4.36301 1.7375 3.05025 3.05025C1.7375 4.36301 1 6.14348 1 8ZM16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 0 10.1217 0 8C0 5.87827 0.842855 3.84344 2.34315 2.34315C3.84344 0.842855 5.87827 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8ZM4.5 7.5C4.36739 7.5 4.24021 7.55268 4.14645 7.64645C4.05268 7.74021 4 7.86739 4 8C4 8.13261 4.05268 8.25979 4.14645 8.35355C4.24021 8.44732 4.36739 8.5 4.5 8.5H10.293L8.146 10.646C8.09951 10.6925 8.06264 10.7477 8.03748 10.8084C8.01232 10.8692 7.99937 10.9343 7.99937 11C7.99937 11.0657 8.01232 11.1308 8.03748 11.1916C8.06264 11.2523 8.09951 11.3075 8.146 11.354C8.19249 11.4005 8.24768 11.4374 8.30842 11.4625C8.36916 11.4877 8.43426 11.5006 8.5 11.5006C8.56574 11.5006 8.63084 11.4877 8.69158 11.4625C8.75232 11.4374 8.80751 11.4005 8.854 11.354L11.854 8.354C11.9006 8.30755 11.9375 8.25238 11.9627 8.19163C11.9879 8.13089 12.0009 8.06577 12.0009 8C12.0009 7.93423 11.9879 7.86911 11.9627 7.80837C11.9375 7.74762 11.9006 7.69245 11.854 7.646L8.854 4.646C8.80751 4.59951 8.75232 4.56264 8.69158 4.53748C8.63084 4.51232 8.56574 4.49937 8.5 4.49937C8.43426 4.49937 8.36916 4.51232 8.30842 4.53748C8.24768 4.56264 8.19249 4.59951 8.146 4.646C8.09951 4.69249 8.06264 4.74768 8.03748 4.80842C8.01232 4.86916 7.99937 4.93426 7.99937 5C7.99937 5.06574 8.01232 5.13084 8.03748 5.19158C8.06264 5.25232 8.09951 5.30751 8.146 5.354L10.293 7.5H4.5Z" fill="white"/></svg>');
    }
    &.pswp__button--arrow--right::before, &.pswp__button--arrow--left::before{
      background: none;
      width: 30px;
      height: 30px;
    }
  }
}
.product-images{
  display: flex;
  position: relative;
  justify-content: center;
  @media(max-width: 1240px){
    flex-direction: column;
  }
}
.flex-control-nav{
  position: absolute;
  left: 0;
  top: 0;
  height: 700px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 20px;
  background: white;
  padding-right: 20px;
  @media(max-width: 1240px){
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: fit-content;
    margin-top: 20px;
    padding-right: 0;
    @media(max-width: 768px){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
.flex-control-nav.flex-control-thumbs li{
  margin-bottom: 0 !important;
  height: 100px;
  width: 100px;
  @media(max-width: 1240px){
    width: 100%;
    height: auto;
    overflow: hidden;
    & img{
      margin: 0;
      width: 100%;
      z-index: -1;
    }
  }
}