@import "../sass/sub/variables";

.hero{
  & .swiper{
    &-pagination-bullet{
      position: relative;
      opacity: .7;
      cursor: pointer;
      //padding-bottom: 2px;
      &:before{
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid transparent;
        opacity: 0;
        transition: all .3s ease-in-out;
      }
      &-active{
        opacity: 1;
        &:before{
          border-bottom: 2px solid white;
          opacity: 1;
        }
      }
    }
    &-button{
      &-next, &-prev{
        opacity: 1;
      }
      &-disabled{
        opacity: .5;
      }
    }
  }
}
.product-carousel{
  & .swiper{
    &-pagination{
      &-bullet{
        width: 15px;
        height: 15px;
        border-radius: 1000px;
        background: #dbdcdd;
        &-active{
          background: #ff6600;
        }
      }
    }
  }
}
.cat-box{
  & > a:hover + img{
    transform: scale(1.15);
  }
}

.swiper-slide{
  height: auto !important;
}